DerivedData
CMakeCache.txt
CMakeFiles
bin
lib
Makefile
cmake_install.cmake
install_manifest.txt
*.xcuserstate
*.xcuserdatadbuild
SiemensS7ControlUnit/SiemensS7ControlUnit.xcodeproj/xcuserdata/*
SiemensS7.xcworkspace/xcuserdata/*
build/SiemensS7ControlUnit
build/SiemensS7DeviceDriver.extension
build
